<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security/" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}">
<link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">

<head>
    <meta charset="UTF-8">
    <title>로그인</title>
</head>
<body>


    <div layout:fragment="content" class="container my-3">
        <div class="mb-3 border-bottom">
            <div>
                <h3>로그인</h3>
            </div>
        </div>

        <form th:action="@{/member/login}" method="post">
            <div th:if="${param.error}">
                <div class="alert alert-danger">
                    사용자 ID 또는 비밀번호를 확인해 주세요.
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label"> 사용자ID <br>
                    <input type="text" name="username" id="username" class="form-control"></label>
            </div>
            <div class="mb-3">
                <label class="form-label"> 비밀번호 <br>
                    <input type="text" name="password" id="password" class="form-control"></label>
            </div>

            <button type="submit" class="btn btn-primary">로그인</button>

        </form>
    </div>
</body>
</html>