<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security/">
<head>
    <meta charset="UTF-8">
    <title>Question List</title>
</head>
<body>
    <h2>Question List</h2>
    <table>
        <thead>
            <tr>
                <th> 번호 </th>
                <th> 제목  </th>
                <th> 글쓴이 </th>
                <th> 작성일자 </th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="question : ${questionList}">
                <td th:text="${question.id}"></td>
                <td><a th:href="@{/question/{id}(id=${question.id})}" th:text="${question.title}"></a></td>
<!--                <td th:text="${question.}"></td>-->
                <td th:text="${question.date}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>