<!DOCTYPE html>
<html layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security/" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>질문 작성</title>
</head>
<body>
    <div layout:fragment="content" class="container">
        <h2 class="my-3 border-bottom pb-2">질문등록</h2>
        <form method="post">
<!--        <form th:action="@{/question/write}" th:object="${questionForm}" method="post">-->
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    <!--        <div class="alert alert-danger" role="alert" th:if="${#fields.hasAnyErrors()}">-->
    <!--            <div th:each="err : ${#fields.allErrors()}" th:text="${err}"/>-->
    <!--        </div>-->


<!--            <div th:replace="form_errors :: formErrorsFragment"></div>-->
            <div class="mb-3">
                <label class="form-lable">제목</label>
                <input type="text" th:field="*{title}" maxlength="200" class="form-control">
            </div>
            <div class="mb-3">
                <label class="form-lable">내용</label>
                <textarea th:field="*{content}"cols="30" rows="10" class="form-control"></textarea>
            </div>
            <input type="submit" value="저장하기" class="btn btn-primary my-2">
        </form>
    </div>


<!--        <div class="alert alert-danger" role="alert" th:if="${#fields.hasAnyErrors()}">-->
<!--            <div th:each="err : ${#fields.allErrors()}" th:text="${err}"/>-->
<!--        </div>-->

</body>
</html>